@font-face {
	font-family: "Break";
	src: url('break_semibold.ttf');
}

@font-face {
	font-family: "Break";
	font-weight: bold;
	src: url('reak_bold.ttf');
}

@font-face {
	font-family: "Action Man";
  font-weight: bold;
  font-style: italic;
	src: url('Action Man Extended Bold Italic.ttf');
}

h1{
  position: absolute;
  top:750px;
  left: 420px;
  font-family: "Action Man";
  font-size: 60px;
  color:yellow;
}
#myCanvas{
  position: absolute;
  top:100px;
  left:375px;
  border:yellow 3px solid;
}

body {
  background-image:url(../assets/images/test.jpg);
}

#myCanvasMenu {
  position: absolute;
  top:100px;
  left:375px;
  background-image: url("../assets/images/menu_background.jpg");
  background-size: cover;
  border:yellow 3px solid;
}

#target {
  position:absolute;
  top: 180px;
  left: 567px;
}

#viseur {
  position: absolute;
  top : 131px;
  left : 678px;
}

#jouer {
  position: absolute;
  top : 338px;
  left : 613px;
}

#score {
  position: absolute;
  top : 450px;
  left : 611px;
}

#parametre {
  position: absolute;
  top : 564px;
  left : 478px;
}

#viseur, #jouer, #score, #parametre {
  display: none;
}

#jouer:hover, #score:hover, #parametre:hover, #play:hover  {
  opacity : 0.5;
}

#back {
  position:absolute;
  top:130px;
  left:406px;

}
#sound {
  position: absolute;
  top : 339px;
  left : 454px;
}

#gameOver {
  position: absolute;
  top : 170px;
  left : 513px;
}

#aim {
  position: absolute;
  top : 481px;
  left : 453px;
}

#speaker {
  position: absolute;
  top : 375px;
  left : 976px;
}

#mute {
  position: absolute;
  top : 375px;
  left : 976px;
}

#yellowSight, #yellowSquare{
  position: absolute;
  top : 515px;
  left : 851px;
}

#redSight, #redSquare{
  position: absolute;
  top : 515px;
  left : 982px;
}

#greenSight, #greenSquare{
  position: absolute;
  top : 515px;
  left : 1110px;
}

#score_value {
  position: absolute;
  top : 436px;
  left : 566px;
  color: white;
  font-family: "Break";
  font-size: 3em;
}

#play {
  position: absolute;
  top: 370px;
  left: 754px;
}

#sound, #aim, #back, #speaker, #mute, #yellowSight, #redSight, #greenSight, #yellowSquare, #redSquare, #greenSquare, #score_value, #play, #gameOver, #myCanvas{
  display: none;
}

