@font-face {
	font-family: "Break";
	src: url('break_semibold.ttf');
}

@font-face {
	font-family: "Break";
	font-weight: bold;
	src: url('reak_bold.ttf');
}

#myCanvasMenu {
  position: absolute;
  background-image: url("../assets/images/menu_background.jpg");
  background-size: cover;
}

#viseur {
  position: absolute;
  top : 2em;
  left : 19em;
}

#jouer {
  position: absolute;
  top : 15em;
  left : 15em;
}

#score {
  position: absolute;
  top : 22em;
  left : 15em;
}

#parametre {
  position: absolute;
  top : 29em;
  left : 6.5em;
}

#myCanvasMenu, #viseur, #jouer, #score, #parametre {
  /*display: none;*/
}

#jouer:hover, #score:hover, #parametre:hover  {
  opacity : 0.5;
}

#back {
  position:absolute;
  top:2em;
  left:1em;

}
#sound {
  position: absolute;
  top : 15em;
  left : 5em;
}

#gameOver {
  position: absolute;
  top : 5em;
  left : 8em;
}

#aim {
  position: absolute;
  top : 24em;
  left : 5em;
}

#speaker {
  position: absolute;
  top : 17em;
  left : 38em;
}

#mute {
  position: absolute;
  top : 17em;
  left : 38em;
}

#yellowSight, #yellowSquare{
  position: absolute;
  top : 26em;
  left : 30em;
}

#redSight, #redSquare{
  position: absolute;
  top : 26em;
  left : 38em;
}

#greenSight, #greenSquare{
  position: absolute;
  top : 26em;
  left : 46em;
}

#score_value {
  position: absolute;
  top : 3.25em;
  left : 3.1em;
  color: white;
  font-family: "Break";
  font-size: 5em;
}

#sound, #aim, #back, #speaker, #mute, #yellowSight, #redSight, #greenSight, #yellowSquare, #redSquare, #greenSquare, #gameOver, #score_value {
  display: none;
}


#myCanvas {
  border:1px solid;
  background-color:lightGrey;
  display: none;
}
